<app-header ></app-header>
<div class="container" >
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
            <!-- <app-recipes *ngIf="rec=='recipe'"></app-recipes>
            <app-shopping-list *ngIf="rec=='shoppingList'"></app-shopping-list> -->
            <!-- <p appHighlight>hi sidd new custom directive</p> -->
            <!-- <button class="btn btn-primary" (click)="ngif=!ngif">toggle opp ngIf</button>
            <p>{{ngif}}</p> -->
            <!-- <p appBetterHighlight [df]="'lightblue'" [highlightColor]="'yellow'"> new custom better directive using Renderer2</p> -->
            <!-- <p *appUnless="ngif">this is custom ngIf opp directive</p> -->
        </div>
    </div>
</div>